<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://de-de.facebook.com/justin.becker.90"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/justin-becker-87471b235/?originalSubdomain=de"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/JustubSoftware"><i class="fa-brands fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a routerLink="">Home</a>
            <a routerLink="/impressum">Impressum</a>
            <a routerLink="/datenschutz">Datenschutz</a>
        </p>

        <p>Justin Becker &copy; 2025</p>
    </div>

</footer>