/* Impressum Container */
.impressum-container {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0f0; /* Angleichung an den Wochenplan-Style */
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    margin: 1rem auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Hauptüberschrift */
.impressum-container h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

/* Allgemeiner Abschnitts-Stil */
.impressum-container section {
    background-color: #f9e1e1; /* Hellere Alternative für bessere Lesbarkeit */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    min-height: 50px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Überschriften in den Sektionen */
.impressum-container section h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}

/* Allgemeine Textgestaltung */
.impressum-container p {
    font-size: 1rem;
    color: darkslategray;
    margin-bottom: 5px;
    max-width: 100%;
}

/* Links */
.impressum-container a {
    color: #d86b6b;
    text-decoration: none;
    font-weight: 600;
}

.impressum-container a:hover {
    text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 768px) {
    .impressum-container {
        padding: 15px;
    }

    .impressum-container h1 {
        font-size: 1.7rem;
    }

    .impressum-container section {
        padding: 12px;
    }

    .impressum-container section h2 {
        font-size: 1.3rem;
    }

    .impressum-container p {
        font-size: 0.95rem;
    }
}

.weekplanner-logo {
    height: 15rem;
    display: block;          
    margin-left: auto;         
    margin-right: auto;      
    max-width: 100%;           
    object-fit: contain;         
}

@media (max-width: 480px) {
    .impressum-container {
        padding: 10px;
    }

    .impressum-container h1 {
        font-size: 1.5rem;
    }

    .impressum-container section h2 {
        font-size: 1.2rem;
    }

    .impressum-container p {
        font-size: 0.9rem;
    }
}
